body, html {
    height: 100%;
    margin: 0;
}

* {
	/*overflow: hidden; /*to hide scroll bar*/
	margin:0px;
	padding: 0px;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

#top {
	width: 1520px;
}

#body1 {
	background-image: url(main1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 10%;
}

.head {
	text-align: center;
	border: rgb(255, 173, 48) solid 2px;
	background-color: rgba(105, 13, 1, 0.63);
	color: rgb(255, 173, 48);
	font-family: URW Chancery L, cursive;
}

.head2 {
	margin-right: 15%;
}

.logo {
	float: left;
	margin-left: -20px;
}

.member {
	float: right;
}

.member li {
	list-style: none;
	display: inline-block;
}

.member li a {
	color: rgb(255, 173, 48);
	text-decoration: none;
	padding: 5px 20px;
	font-family: Roboto, sans-serif;
	font-size: 18px;
}

.member li:hover {
	border: 1px rgb(255, 173, 48) solid;
	background-color: rgba(105, 13, 1, 0.63);
}

.b2, .b3, .b4{
	border-radius: 100px;
	padding: 150%;
	background-color: rgba(125, 24, 24, 0.92);
	border-color: rgb(255, 173, 48);
    color: rgb(235, 199, 199);
    cursor: pointer;
}

.b2 {
	margin-bottom: 10px;
}
.b4 {
	margin-top: 10px;

}

#scroll { 
	position: relative;	
	margin-right: 10%;
	float: left;
	margin-left: 98%;
	position: fixed;
	margin-top: 10%; 
}

#about {
	text-align: center;
	border: rgb(255, 173, 48) solid 2px;
	font-family: Roboto, sans-serif;
	margin-top: 32.8%;
	color: rgb(235, 199, 199); 
	background-color: rgba(125, 24, 24, 0.92);
	padding-right: 10px;
}

#about li a {
	text-decoration: none;
	color: rgb(235, 199, 199);
}

.b1 {
	background-color: rgba(125, 24, 24, 0.92);
	border-color: rgb(255, 173, 48);
    color: rgb(235, 199, 199);
    padding:0.3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 4px 2px;
    border-radius: 50%;
}

.b1 a {
	text-decoration: none;
	color: rgb(235, 199, 199);
}

#events {
	text-align: center;
	border: rgb(255, 173, 48) solid 2px;
	background-color: rgba(105, 13, 1, 0.63);
	color: rgb(255, 173, 48);
	font-family: URW Chancery L, cursive;
}

#e_head {
	text-align: center;
	border: rgb(255, 173, 48) solid 2px;
	background-color: rgba(105, 13, 1, 0.63);
	color: rgb(255, 173, 48);
	font-family: URW Chancery L, cursive;
}